<%- include('../header.ejs') %>
<br><br><br><br>



<section>
    <h1 class="bg-light text-danger text-center">ADMIN DASHBOARD</h1><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="dash-left">
                    <div class="position-sticky">
                        <div class="list-group list-group-flush mx-3 mt-4">
                            <a href="/admin/dashboard" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                                <i class="fas fa-tachometer-alt fa-fw me-3"></i><span class="text-danger">DASHBOARD</span>
                            </a>
                            <a href="/admin/dashboard/detail" class="list-group-item list-group-item-action py-2 ripple active">
                                <i class="fa-solid fa-eye"></i><span>DISPLAY STUDENTS</span>
                            </a>
                            <a href="/admin/dashboard/displayuser" class="list-group-item list-group-item-action py-2 ripple active">
                                <i class="fa-solid fa-binoculars"></i><span>REGISTERED STUDENTS</span>
                            </a>
                            <a href="/admin/dashboard/displaycontact" class="list-group-item list-group-item-action py-2 ripple active">
                                <i class="fa-solid fa-binoculars"></i><span>DISPLAY CONTACTS</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <section>
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th>S NO.</th>
                                <th>ID</th>
                                <th>NAME</th>
                                <th>EMAIL</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% var i=1 %>
                        <% data.forEach((item)=>{ %>     
                            <tr class="table-primary">
                                <td><%= i++ %></td>
                                <td><%= item._id %></td>
                                <td><%= item.name %></td>
                                <td><%= item.email %></td>
                                <td>
                                    <a href="/detail/view/<%=item._id%>" class="btn btn-danger btn-lg"><i class="fa-solid fa-eye"></i></a>
                                    <a href="/detail/edit/<%=item._id%>" class="btn btn-warning btn-lg"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a>
                                    <a href="/detail/delete/<%=item._id%>" class="btn btn-success btn-lg"><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr>
                        <% }) %>
                        </tbody>
                    </table>
                </section>                  
            </div>
        </div>
    </div>
</section>




<br><br><br>
<%- include('../footer.ejs') %>